Connected Services/CertServer/CertService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://services.marsh.com.ar/CertService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.marsh.com.ar/CertService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.marsh.com.ar/CertService/Imports">
      <xsd:import schemaLocation="https://localhost/CertService/CertService.svc?xsd=xsd0" namespace="http://services.marsh.com.ar/CertService" />
      <xsd:import schemaLocation="https://localhost/CertService/CertService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICertService_GetCertificadoMercosur_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificadoMercosur" />
  </wsdl:message>
  <wsdl:message name="ICertService_GetCertificadoMercosur_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificadoMercosurResponse" />
  </wsdl:message>
  <wsdl:message name="ICertService_GetCertificadoLocal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificadoLocal" />
  </wsdl:message>
  <wsdl:message name="ICertService_GetCertificadoLocal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificadoLocalResponse" />
  </wsdl:message>
  <wsdl:portType name="ICertService">
    <wsdl:operation name="GetCertificadoMercosur">
      <wsdl:input wsaw:Action="http://services.marsh.com.ar/CertService/ICertService/GetCertificadoMercosur" message="tns:ICertService_GetCertificadoMercosur_InputMessage" />
      <wsdl:output wsaw:Action="http://services.marsh.com.ar/CertService/ICertService/GetCertificadoMercosurResponse" message="tns:ICertService_GetCertificadoMercosur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificadoLocal">
      <wsdl:input wsaw:Action="http://services.marsh.com.ar/CertService/ICertService/GetCertificadoLocal" message="tns:ICertService_GetCertificadoLocal_InputMessage" />
      <wsdl:output wsaw:Action="http://services.marsh.com.ar/CertService/ICertService/GetCertificadoLocalResponse" message="tns:ICertService_GetCertificadoLocal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>