Connected Services/CertServer/CertService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CertService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CertService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCertificado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Certificado" nillable="true" type="tns:Certificado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificado" nillable="true" type="tns:ArrayOfCertificado" />
  <xs:complexType name="Certificado">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Certificado" nillable="true" type="tns:Certificado" />
</xs:schema>