Connected Services/CertServer/CertService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.marsh.com.ar/CertService" elementFormDefault="qualified" targetNamespace="http://services.marsh.com.ar/CertService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCertificadoMercosur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chasis" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificadoMercosurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCertificadoMercosurResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificadoLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chasis" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificadoLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCertificadoLocalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>